
@{
    ViewBag.Title = "Main - Swift Bill Pay";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    Dictionary<string,int> notifications = ViewBag.Notifications as Dictionary<string,int>;
}

@if (notifications != null)
{
    <div class="row">
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-comments fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">@notifications["PaymentDueCount"]</div>
                            <div>Reminder to send!</div>
                        </div>
                    </div>
                </div>
                <a href="@Url.Action("Bills","User")">
                    <div class="panel-footer">
                        <span class="pull-left">View Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-green">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-tasks fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">@notifications["UnPaidInvoice"]</div>
                            <div>Unpaid Invoice!</div>
                        </div>
                    </div>
                </div>
                <a href="@Url.Action("Invoice","User")">
                    <div class="panel-footer">
                        <span class="pull-left">View Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-yellow">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-thumbs-up fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">@notifications["PaidToday"]</div>
                            <div>Payment made today!</div>
                        </div>
                    </div>
                </div>
                <a href="@Url.Action("PaymentReport", "User")">                    
                    <div class="panel-footer">
                        <span class="pull-left">View Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>

    </div>


}