@model BingHousing.WebUI.MVC.Models.PlanModel

@{
    ViewBag.Title = "Add Subscription Plan - Swift Bill Pay";
    ViewBag.PageTitle = "Add Subscription Plan";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

@if (Request.IsAuthenticated)
{ 
    using (Html.BeginForm("AddSubscriptionPlan", "Subscription", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <div class="row row-space">
            <div class="form-group">
                <div class="col-lg-3">
                    <label>Subcription Plan Name *</label>
                </div>
                <div class="col-lg-6">
                    @Html.TextBoxFor(m => m.PlanName, new { @class = "form-control", placeholder = "Plan Name", autocomplete = "off" })
                </div>
            </div>
        </div>
        <div class="row row-space">
            <div class="form-group">
                <div class="col-lg-3">
                    <label>Plan Description </label>
                </div>
                <div class="col-lg-6">
                    @Html.TextBoxFor(m => m.PlanDescription, new { @class = "form-control", placeholder = "Plan Description", autocomplete = "off" })
                </div>
            </div>
        </div>
        <div class="row row-space">
            <div class="form-group">
                <div class="col-lg-3">
                    <label>Plan Amount * </label>
                </div>
                <div class="col-lg-6">
                    @Html.TextBoxFor(m => m.PlanAmount, new { @class = "form-control", placeholder = "Plan Amount", autocomplete = "off" })
                </div>
            </div>
        </div>
        <div class="row row-space">
            <div class="form-group">
                <div class="col-lg-3">
                    <label>Is Admin Support Plan *</label>
                </div>
                <div class="col-lg-6">
                    @Html.CheckBoxFor(model => model.IsAdminPlan)
                </div>
            </div>
        </div>
        <div class="row row-space">
            <div class="col-lg-3"></div>
            <div class="col-lg-6">
                <div class="row row-space">
                    <div class="col-lg-4"></div>
                    <div class="col-lg-4">
                        <input type="submit" class="btn btn-primary" value="Save">
                    </div>
                    <div class="col-lg-4"></div>
                </div>
            </div>
        </div>
    
    }
}