@model BingHousingMVC.Models.CartLoginModel

@{
    ViewBag.Title = "CartLogin";
}


@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
   

    <fieldset>
        <legend>Locate your Order</legend>

         <table style=" border:none !important;">

            <tr>
            <td class = "EditTable1">
            <div class="editor-label">
                @Html.LabelFor(m => m.ProjectNumber)
            </div></td>
            
            <td ><p style=" padding-bottom:5px;">:</p></td>

            <td class = "EditTable1">
            <div class="editor-field">
                @Html.TextBoxFor(m => m.ProjectNumber)<br />
                @Html.ValidationMessageFor(m => m.ProjectNumber)
            </div></td></tr>

            <tr><td class = "EditTable1">
            <div class="editor-label">
                @Html.LabelFor(m => m.CustomerEmail)
            </div></td>
            
            <td ><p style=" padding-bottom:5px;">:</p></td>

            <td class = "EditTable1"><div class="editor-field">
                @Html.TextBoxFor(m => m.CustomerEmail)<br />
                @Html.ValidationMessageFor(m => m.CustomerEmail)
            </div></td></tr>

           
            <tr>
            <td></td>
            <td></td>
            <td class = "EditTable1" style="float:left;"><p>
               <input type="submit" value="Continue" /> </p></td></tr>
          
            </table>

  
      
    </fieldset>
    
}