@model BingHousingMVC.Models.UserPaymentRegistrationModel
@{
    ViewBag.Title = "UserPaymentRegistration";
    var message = ViewBag.SuccessMsg;

}
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4><i class="fa fa-sign-in"></i> ACH Registration</h4>
            </div>
            <div class="panel-body">
                @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
                {
                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        @Html.TextBoxFor(m => m.AccountHolderName, new { @class = "form-control", placeholder = "Account Holder Name", autocomplete = "off" })
                    </div>


                    <div class="form-group">
                        @Html.LabelFor(m => m.Accounttype, new { @class = "control-label", placeholder = "Account Type", type = "number" })
                        Individual
                        @Html.RadioButtonFor(model => model.Accounttype, "Individual")
                        Corporate
                        @Html.RadioButtonFor(model => model.Accounttype, "Company")
                    </div>
                    <div class="form-group">
                        @Html.TextBoxFor(m => m.AccountNumber, new { @class = "form-control", placeholder = "Account Number", type = "number" })
                    </div>
                    <div class="form-group">
                        @Html.TextBoxFor(m => m.RoutingNumber, new { @class = "form-control", placeholder = "Routing Number", type = "number" })
                    </div>


                    <div class="form-group">
                        <input type="submit" class="btn btn-primary btn-group btn-group-justified" value="Submit">
                    </div>
                }

            </div>
        </div>
    </div>
    <div class="col-md-4"></div>
</div>
@section Scripts{
    <script type="text/javascript">
   var message = '@message';
    if(message){
        alert(message);
    }
    </script>
}





