@model BingHousingMVC.Models.LocalPasswordModel
@{
    ViewBag.Title = "ChangePassword";
}

<h3> Change password</h3>
@using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>Change Password Form</legend>
        <table class="EditTable1">
            <tr>
                <td class="EditTable1">
                    <div class="editor-label">
                        @Html.LabelFor(m => m.OldPassword1)
                    </div>
                </td>
                <td>
                    <p style="padding-bottom: 5px;">
                        :
                    </p>
                </td>
                <td class="EditTable1">
                    <div class="editor-field">
                        @Html.PasswordFor(m => m.OldPassword1)<br />
                        @Html.ValidationMessageFor(m => m.OldPassword1)
                    </div>
                </td>
                <td class="EditTable1">
                    <div class="editor-label">
                        @Html.LabelFor(m => m.OldPassword2)
                    </div>
                </td>
                <td>
                    <p style="padding-bottom: 5px;">
                        :
                    </p>
                </td>
                <td class="EditTable1">
                    <div class="editor-field">
                        @Html.PasswordFor(m => m.OldPassword2)<br />
                        @Html.ValidationMessageFor(m => m.OldPassword2)
                    </div>
                </td>
            </tr>
            <tr>
                <td class="EditTable1">
                    <div class="editor-label">
                        @Html.LabelFor(m => m.NewPassword1)
                    </div>
                </td>
                <td>
                    <p style="padding-bottom: 5px;">
                        :
                    </p>
                </td>
                <td class="EditTable1">
                    <div class="editor-field">
                        @Html.PasswordFor(m => m.NewPassword1)<br />
                        @Html.ValidationMessageFor(m => m.NewPassword1)
                    </div>
                </td>
                <td class="EditTable1">
                    <div class="editor-label">
                        @Html.LabelFor(m => m.ConfirmPassword1)
                    </div>
                </td>
                <td>
                    <p style="padding-bottom: 5px;">
                        :
                    </p>
                </td>
                <td class="EditTable1">
                    <div class="editor-field">
                        @Html.PasswordFor(m => m.ConfirmPassword1)<br />
                        @Html.ValidationMessageFor(m => m.ConfirmPassword1)
                    </div>
                </td>
            </tr>
            <tr>
                <td class="EditTable1">
                    <div class="editor-label">
                        @Html.LabelFor(m => m.NewPassword2)
                    </div>
                </td>
                <td>
                    <p style="padding-bottom: 5px;">
                        :
                    </p>
                </td>
                <td class="EditTable1">
                    <div class="editor-field">
                        @Html.PasswordFor(m => m.NewPassword2)<br />
                        @Html.ValidationMessageFor(m => m.NewPassword2)
                    </div>
                </td>
                <td class="EditTable1">
                    <div class="editor-label">
                        @Html.LabelFor(m => m.ConfirmPassword2)
                    </div>
                </td>
                <td>
                    <p style="padding-bottom: 5px;">
                        :
                    </p>
                </td>
                <td class="EditTable1">
                    <div class="editor-field">
                        @Html.PasswordFor(m => m.ConfirmPassword2)<br />
                        @Html.ValidationMessageFor(m => m.ConfirmPassword2)
                    </div>
                </td>
            </tr>
        </table>
        <input type="submit" value="Change password" />
    </fieldset>
}
