
@model BingHousingMVC.Models.LoginModel

@{
    ViewBag.Title = "Forget Password";
   }
<div  style="height:450px">

@using (Html.BeginForm("ForgetPassword", "Account", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    
        <fieldset>
            <legend>Account Information</legend>
            <table class = "EditTable1">
            <tr>
            <td class = "EditTable1">
            <div class="editor-label">
                @Html.LabelFor(m => m.UserName)
            </div></td><td>:</td>
            <td class = "EditTable1">
            <div class="editor-field">
                @Html.TextBoxFor(m => m.UserName)<br />
                @Html.ValidationMessageFor(m => m.UserName)
            </div></td></tr>
            <tr>
            <td></td>
            <td></td>
            <td class = "EditTable1" style="float:left;"><p>
             <input type="submit" value="Submit" /></p></td></tr>
            </table>
            </fieldset>
}
<p style = "color:Red;">@ViewBag.msg</p>
</div>
