
@using BingHousing_BO
@{
    ViewBag.Title = "Payees - Swift Bill Pay";
    ViewBag.PageTitle = "Payees";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

@if (ViewBag.Results != null && ((List<Payee>)ViewBag.Results).Count > 0)
{
    <div class="panel-body">
        <div class="dataTable_wrapper">
            <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                <thead>
                    <tr>
                        <th>Payee Id</th>
                        <th>Payee Name</th>
                        <th>Payee Email</th>
                        <th>Operations</th>
                    </tr>
                </thead>
                 <tbody>
                                       
                    @foreach (Payee L in (List<Payee>)ViewBag.Results)
                    {
                        <tr class="odd gradeX">
                            <td>@L.PayeeId</td>
                            <td>@L.Payee1</td>
                            <td>@L.PayeeEmail</td>
                            <td>
                                <a href="@Url.Action("EditPayeeDetails", "User", new { PayeeId = L.PayeeId })"><i class="fa fa-edit"></i> Edit</a>&nbsp
                                <a href="@Url.Action("DeletePayeeDetails", "User", new { PayeeId = L.PayeeId })"><i class="fa fa-trash"></i> Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
                </table>
        </div>
   
    </div>
}
else
{
    <h5>No Records</h5> 
}
