@model BingHousing.WebUI.MVC.Models.LoginModel
@{
    ViewBag.Title = "Forgot Password - Swift Bill Pay";
    Layout = "~/Views/Shared/_LayoutWizard.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4><i class="fa fa-key"></i> Forgot Password</h4>
                </div>
                <div class="panel-body">
                    @Html.Partial("_ErrorPanel")
                    @using (Html.BeginForm("ForgetPassword", "Account", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)

                        <div class="form-group">
                            <div class="col">
                                @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", placeholder = "User Name", type = "text" })
                            </div>
                        </div>

                        <div class="form-group">
                            <input type="submit" class="btn btn-primary btn-group btn-group-justified" value="Submit">
                        </div>
                    }
                    @ViewBag.msg
                </div>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>
