@model BingHousingMVC.Models.ReportDurationModel
@using BingHousing_BO;
@{
    List<EmailedReport> list = (List<EmailedReport>)ViewBag.Results;
}

@if (list.Count > 0)
{
    var dates = list.Where(p => p.EmailSentDate.Month == Model.Month && p.EmailSentDate.Date.Year == Model.Year).Select(x => x.EmailSentDate.Date).Distinct().ToList();
    foreach (var l in dates)
    {
        var reportList = new List<EmailedReport>();
        reportList = list.Where(p => p.EmailSentDate.Month == l.Date.Month && p.EmailSentDate.Date.Year == l.Date.Year && p.EmailSentDate.Date.Day == l.Date.Day).ToList();

        <div>
            <div align="center" style="text-decoration: underline;">
                <h3>
                    @l.Date.ToShortDateString() &nbsp &nbsp &nbsp Remainder Customer Emailed Bills &nbsp &nbsp &nbsp
                Total:&nbsp &nbsp &nbsp<b>@reportList.Sum(x => x.TotalAmountDue)</b><input type="button" id="btnoc+@l.Date.Day" value="Click to Open" onclick="Show(@l.Date.Day,this)" />
            </h3>
        </div>
        <div id="@l.Date.Day" style="display: none; border:1 solid gray;">
            <h2 id="divHeading+@l.Date.Day">
                Remainder Emails Report
            </h2>
            <div align="right" style="margin: 10px 10px 10px 10px;
                                width: 800px;">
                <button onclick="CallPrint('divprint+@l.Date.Day')">
                    Print this page
                </button>
            </div>
            <div id="divprint+@l.Date.Day">
                <table style="border:none!important">
                    <tr>
                        <td>
                            <table class="grid" cellpadding="0" cellspacing="0" style="margin: 10px 10px 10px 10px;
                                width: 100%;">
                                <thead class="gridhead">
                                    <tr>
                                        <td>
                                            <div align="center">
                                                Customer
                                            </div>
                                        </td>
                                        <td>
                                            <div align="center">
                                                Payee
                                            </div>
                                        </td>
                                        <td>
                                            <div align="center">
                                                Email
                                            </div>
                                        </td>
                                        <td>
                                            <div align="center">
                                                Description
                                            </div>
                                        </td>
                                        <td>
                                            <div align="center">
                                                Bill ID
                                            </div>
                                        </td>
                                        <td>
                                            <div align="center">
                                                Late Charges
                                            </div>
                                        </td>
                                        <td>
                                            <div align="center">
                                                Email Sent Date
                                            </div>
                                        </td>
                                        <td>
                                            <div align="center">
                                                Total
                                            </div>
                                        </td>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (EmailedReport L in reportList)
                                    {
                                        <tr>
                                            <td>
                                                <div align="center">
                                                    @(L.CustomerFirstName + " " + L.CustomerLastName)
                                                </div>
                                            </td>
                                            <td>
                                                <div align="center">
                                                    @L.Payee
                                                </div>
                                            </td>
                                            <td>
                                                <div align="center">
                                                    @L.CustomerEmail
                                                </div>
                                            </td>
                                            <td>
                                                <div align="center">
                                                    @L.BillDescription
                                                </div>
                                            </td>
                                            <td>
                                                <div align="center">
                                                    @L.InvoiceId
                                                </div>
                                            </td>
                                            <td>
                                                <div align="center">
                                                    @if (L.LateCharges)
                                                    {
                                                        <p>Yes</p>
                                                    }
                                                    else
                                                    {
                                                        <p>No</p>
                                                    }
                                                </div>
                                            </td>
                                            <td>
                                                <div align="center">
                                                    @L.EmailSentDate
                                                </div>
                                            </td>
                                            <td>
                                                <div align="center">
                                                    $ @L.TotalAmountDue
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div style="float: right; padding-right: 20px;">
                                <table style="border: none !important">
                                    <tr>
                                        <td class="not-selected-row" style="border: none !important">
                                            <h3>
                                                <b>Total :</b>
                                            </h3>
                                        </td>
                                        <td style="border: none !important">
                                            <h4>
                                                <b>$ @reportList.Sum(x => x.TotalAmountDue)</b>
                                            </h4>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>

        </div>
    </div>
    }

}
else
{
    <h3>
        No Records
    </h3>
}

@model BingHousingMVC.Models.ReportDurationModel
@using BingHousing_BO;
@{
    ViewBag.Title = "Reminder Emails Report";
    List<EmailedReport> list = (List<EmailedReport>)ViewBag.Results;
    var dates = list.Where(p => p.EmailSentDate.Month == Model.Month && p.EmailSentDate.Date.Year == Model.Year).Select(x => x.EmailSentDate.Date).Distinct().ToList();

}
<div align="center" id="foo">
    <h2>
        Remainder Emails Report
    </h2>

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <table>
        <tr>
            <td>
                @Html.LabelFor(m => m.Payee)
            </td>
            <td>
                @Html.DropDownListFor(m => m.Payee, (List<SelectListItem>)ViewBag.PayeeList)<br />
                @Html.ValidationMessageFor(m => m.Payee)
            </td>
            <td><input type="button" id="btnAddPayee" value="Add Payee" /></td>
            <td>
                @Html.LabelFor(m => m.Month)
            </td>
            <td>
                @Html.DropDownListFor(m => m.Month, (List<SelectListItem>)ViewBag.monthlist)<br />
                @Html.ValidationMessageFor(m => m.Month)
            </td>
            <td>
                @Html.LabelFor(m => m.Year)
            </td>
            <td>
                @Html.DropDownListFor(m => m.Year, (List<SelectListItem>)ViewBag.yearlist)<br />
                @Html.ValidationMessageFor(m => m.Year)
            </td>
            <td>
                <input type="submit" id="btnSearch" value="Search" />
            </td>
            @* <td>
                    <a href="@Url.Action("PaymentReport", "User")">
                        <input type="button" value="Show All" style="height: 33px; font-size: 1.2em;" /></a>
                </td>*@
        </tr>
    </table>
    <div id="divSelectedPayees" style="height:30px !important;"></div>

    <div id="divEmailReports" style="min-height:200px !important;">
        @Html.Partial("_ReminderEmailedReports")
    </div>

</div>
@section Scripts{
    <script type="text/javascript">
        var PayeeIds=[];
        function myFunction() {
            window.print();
        }
        function CallPrint(strid) {
            var prtContent = document.getElementById(strid);
            var WinPrint = window.open('', '', 'letf=0,top=0,width=1000,height=1000,toolbar=0,scrollbars=0,status=0');
            WinPrint.document.write(prtContent.innerHTML);
            WinPrint.document.close();
            WinPrint.focus();
            WinPrint.print();
            WinPrint.close();
            prtContent.innerHTML = strOldOne;
        }
        function Show(id, e) {
            if ($(e).val() == 'Click to Open') {
                $('#' + id).show(2000);
                $(e).val('Close');

            }
            else {
                $('#' + id).hide(2000);
                $(e).val('Click to Open');

            }
        }

        function SearchReport(param) {

            $.ajax({
                type: 'Post',
                contentType: false, // Not to set any content header
                processData: false, // Not to process data
                url: '@Url.Action("RemainderEmailedReport", "User")',
                data: param,
                datatype: 'Json',
                success: function (data) {
                    $("#divEmailReports").html(data);
                },
                Error: function () { $.notify({ message: 'Some Error Occured Please Try again later' }, { type: 'danger' }); }

            });
        };

        function AddPayees(payeeIds)
        {
            var list = @Html.Raw(Json.Encode(ViewBag.PayeeList));
            var Html = '<table style="border: none !important;" cellpadding="0" cellspacing="0"><tr style="border: none !important;">';
            for (var i = 0; i < payeeIds.length; i++) {
                for (var j = 0; j < list.length; j++) {
                    if (list[j].Value === payeeIds[i]) {
                        Html = Html + '<td style="border: none !important;"><div style="float: left;"><label>' + list[j].Text + '</label></div>' +
                            '<input class="removeId" style="float: right" type="button" value="x" onclick="removeId('+list[j].Value+');" id="btn_'+list[j].Value+'"/></td>';
                    }
                }
            }

            Html=Html+'</tr></table>';
            $("#divSelectedPayees").html(Html);
        };
        function createParam(type)
        {
            var param = new FormData();
            var token = $('input[name="__RequestVerificationToken"]').val();
            param.append("__RequestVerificationToken", token);
            param.append("Month", $('#Month').val());
            param.append("Year", $('#Year').val());
            var payee=$('#Payee').val();
            param.append("Payee", payee);
            if(payee !== "0" && PayeeIds.indexOf(payee) === -1 )
            {
                PayeeIds[PayeeIds.length] = payee;
            }
            param.append("PayeeIds", PayeeIds.join(","));

            if(type === "search")
            {
                PayeeIds=[];
            }
            return param;
        };

        function Search(type)
        {
            var param = createParam(type);
            SearchReport(param);
        };
        function removeId(id)
        {
            var index=PayeeIds.indexOf(id.toString());
            PayeeIds.splice(index, 1)
            var param = new FormData();
            var token = $('input[name="__RequestVerificationToken"]').val();
            param.append("__RequestVerificationToken", token);
            param.append("Month", $('#Month').val());
            param.append("Year", $('#Year').val());
            var payee=$('#Payee').val();
            param.append("Payee", payee);
            param.append("PayeeIds", PayeeIds.join(","));
            SearchReport(param);
            AddPayees(PayeeIds);
        };


        $(document).ready(function(){

            $("#btnAddPayee").click(function () {
                Search("addpayee");
                AddPayees(PayeeIds);
            });

            $("#btnSearch").click(function () {
                Search("search");
            });
        });
    </script>
}


@*@model BingHousingMVC.Models.DurationModel
    @using BingHousing_BO;
    @{
        ViewBag.Title = "Remainder Emails Report";
        List<EmailedReport> list = (List<EmailedReport>)ViewBag.Results;

    }
    <div align="center" id="foo">
        <h2>
            Remainder Emails Report</h2>
        @if (list.Count > 0)
        {
            <div align="center" style="text-decoration: underline;">
                <h3>@DateTime.UtcNow.ToShortDateString() &nbsp &nbsp &nbsp Remainder Email bills &nbsp
                    &nbsp &nbsp Total:&nbsp &nbsp &nbsp<b>$ @ViewBag.checkoutAmount</b><input type="button" id="btnoc" value="Click to Open"  onclick="Show()" /></h3>
                    @*<button  id="btnoc" value="Click to Open"  onclick="Show()" >Click to Open</button>(<a onclick="Show()" style="color:Green;">Click
                        to Open</a>)
            </div>
            <div id="sreport" style="display: none;">
                @using (Html.BeginForm()) {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                <table>
                    <tr>
                        <td>
                            @Html.LabelFor(m => m.From)
                        </td>
                        <td>
                            @Html.TextBoxFor(m => m.From, new { @class = "date" })<br />
                            @Html.ValidationMessageFor(m => m.From)
                        </td>
                        <td>
                            @Html.LabelFor(m => m.To)
                        </td>
                        <td>
                            @Html.TextBoxFor(m => m.To, new { @class = "date" })<br />
                            @Html.ValidationMessageFor(m => m.To)
                        </td>
                        <td>
                            <input type="submit" value="Search" />
                        </td>
                        <td>
                            <a href="@Url.Action("EmailedReport", "User")">
                                <input type="button" value="Show All" style="height: 33px; font-size: 1.2em;" /></a>
                        </td>
                    </tr>
                </table>
                }
                <div id="divprint">
                    <table>
                        <tr>
                            <td>
                                <table class="grid" cellpadding="0" cellspacing="0" style="margin: 10px 10px 10px 10px;
                                    width: 800px;">
                                    <thead class="gridhead">
                                        <tr>
                                            <td>
                                                <div align="center">
                                                    Name
                                                </div>
                                            </td>
                                            <td>
                                                <div align="center">
                                                    Email
                                                </div>
                                            </td>
                                            <td>
                                                <div align="center">
                                                    Description
                                                </div>
                                            </td>
                                            <td>
                                                <div align="center">
                                                    Bill ID
                                                </div>
                                            </td>
                                            <td>
                                                <div align="center">
                                                    Email Sent Date
                                                </div>
                                            </td>
                                            <td>
                                                <div align="center">
                                                    Total
                                                </div>
                                            </td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (EmailedReport L in list)
                                        {
                                            <tr>
                                                <td>
                                                    <div align="center">
                                                        @(L.CustomerFirstName + " " + L.CustomerLastName)
                                                    </div>
                                                </td>
                                                <td>
                                                    <div align="center">
                                                        @L.CustomerEmail
                                                    </div>
                                                </td>
                                                <td>
                                                    <div align="center">
                                                        @L.BillDescription
                                                    </div>
                                                </td>
                                                <td>
                                                    <div align="center">
                                                        @L.InvoiceId
                                                    </div>
                                                </td>
                                                <td>
                                                    <div align="center">
                                                        @L.EmailSentDate
                                                    </div>
                                                </td>
                                                <td>
                                                    <div align="center">
                                                        $ @L.TotalAmountDue
                                                    </div>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div style="float: right; padding-right: 20px;">
                                    <table style="border: none !important">
                                        <tr>
                                            <td class="not-selected-row" style="border: none !important">
                                                <h3>
                                                    <b>Total :</b></h3>
                                            </td>
                                            <td style="border: none !important">
                                                <h4>
                                                    <b>$ @ViewBag.checkoutAmount</b></h4>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </td>
                        </tr>
                    </table>

                </div>
                <button onclick="CallPrint('divprint')">
                        Print this page</button>
            </div>
        }
        else
        {
            <h3>
                No Records</h3>
        }
    </div>
    @section Scripts{
        <script type="text/javascript">
            function myFunction() {
                window.print();
            }
            function CallPrint(strid) {
                var prtContent = document.getElementById(strid);
                var WinPrint = window.open('', '', 'letf=0,top=0,width=1000,height=1000,toolbar=0,scrollbars=0,status=0');
                WinPrint.document.write(prtContent.innerHTML);
                WinPrint.document.close();
                WinPrint.focus();
                WinPrint.print();
                WinPrint.close();
                prtContent.innerHTML = strOldOne;
            }
            function Show() {

                if ($('#btnoc').val() == 'Click to Open') {
                    $('#sreport').show();
                    $('#btnoc').val('Click to Close');

                }
                else {
                    $('#sreport').hide();
                    $('#btnoc').val('Click to Open');

                }

            }
            $(document).ready(function () {

                var watermark = 'MM/DD/YYYY';
                var txt = $('.date').val();
                debugger;
                if (txt != '') {
                    $('#sreport').show();
                    $('#btnoc').val('Click to Close');
                }
                else {
                    //init, set watermark text and class
                    $('.date').val(watermark).addClass('watermark');


                }
                //if blur and no value inside, set watermark text and class again.
                $('.date').blur(function () {
                    if ($(this).val().length == 0) {
                        $(this).val(watermark).addClass('watermark');
                    }
                });

                //if focus and text is watermrk, set it to empty and remove the watermark class
                $('.date').focus(function () {
                    if ($(this).val() == watermark) {
                        $(this).val('').removeClass('watermark');
                    }
                });
            });
        </script>
    }
*@