@model BingHousingMVC.Models.PayeeModel

@{
    ViewBag.Title = "AddPayeeDetails";
}


<div align="center">
    <fieldset>
        <legend id="title" style="color: Green; font-size: large">Add Payee:</legend>
        @using (Html.BeginForm("AddPayeeDetails", "User", FormMethod.Post, new { id = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            <table>

                <tr>
                    <td class="EditTable">
                        <div class="editor-label">
                            @Html.Label("Payee" + "*")
                        </div>
                    </td>
                    <td>
                        :
                    </td>
                    <td class="EditTable">
                        <div class="editor-field">
                            @Html.EditorFor(model => model.Payee)<br />
                            @Html.ValidationMessageFor(model => model.Payee)
                            
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="EditTable">
                        <div class="editor-label">
                            @Html.Label("Payee Address" + "*")
                        </div>
                    </td>
                    <td>
                        :
                    </td>
                    <td class="EditTable">
                        <div class="editor-field">
                            @Html.EditorFor(model => model.PayeeAddress)<br />
                            @Html.ValidationMessageFor(model => model.PayeeAddress)
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="EditTable">
                        <div class="editor-label">
                            @Html.Label("Payee Address2")
                        </div>
                    </td>
                    <td>
                        :
                    </td>
                    <td class="EditTable">
                        <div class="editor-field">
                            @Html.EditorFor(model => model.PayeeAddress2)<br />
                            @Html.ValidationMessageFor(model => model.PayeeAddress2)
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="EditTable">
                        <div class="editor-label">
                            @Html.Label("Payee City" + "*")
                        </div>
                    </td>
                    <td>
                        :
                    </td>
                    <td class="EditTable">
                        <div class="editor-field">
                            @Html.EditorFor(model => model.PayeeCity)<br />
                            @Html.ValidationMessageFor(model => model.PayeeCity)
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="EditTable">
                        <div class="editor-label">
                            @Html.Label("Payee State")
                        </div>
                    </td>
                    <td>
                        :
                    </td>
                    <td class="EditTable">
                        <div class="editor-field">
                            @Html.EditorFor(model => model.PayeeState)<br />
                            @Html.ValidationMessageFor(model => model.PayeeState)
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="EditTable">
                        <div class="editor-label">
                            @Html.Label("Payee Zip Code" + "*")
                        </div>
                    </td>
                    <td>
                        :
                    </td>
                    <td class="EditTable">
                        <div class="editor-field">
                            @Html.EditorFor(model => model.PayeeZipCode)<br />
                            @Html.ValidationMessageFor(model => model.PayeeZipCode)
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="EditTable">
                        <div class="editor-label">
                            @Html.Label("Payee Country" + "*")
                        </div>
                    </td>
                    <td>
                        :
                    </td>
                    <td class="EditTable">
                        <div class="editor-field">
                            @Html.EditorFor(model => model.PayeeCountry)<br />
                            @Html.ValidationMessageFor(model => model.PayeeCountry)
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="EditTable">
                        <div class="editor-label">
                            @Html.Label("Payee Email" + "*")
                        </div>
                    </td>
                    <td>
                        :
                    </td>
                    <td class="EditTable">
                        <div class="editor-field">
                            @Html.EditorFor(model => model.PayeeEmail)<br />
                            @Html.ValidationMessageFor(model => model.PayeeEmail)
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="EditTable">
                        <div class="editor-label">
                            @Html.Label("Payee Contact Person")
                        </div>
                    </td>
                    <td>
                        :
                    </td>
                    <td class="EditTable">
                        <div class="editor-field">
                            @Html.EditorFor(model => model.PayeeContactPerson)<br />
                            @Html.ValidationMessageFor(model => model.PayeeContactPerson)
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="EditTable">
                        <div class="editor-label">
                            @Html.Label("Payee Comments" + "*")
                        </div>
                    </td>
                    <td>
                        :
                    </td>
                    <td class="EditTable">
                        <div class="editor-field">
                            @Html.EditorFor(model => model.PayeeComments)<br />
                            @Html.ValidationMessageFor(model => model.PayeeComments)
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="EditTable">
                        <div class="editor-label">
                            @Html.Label("Payee Website" + "*")
                        </div>
                    </td>
                    <td>
                        :
                    </td>
                    <td class="EditTable">
                        <div class="editor-field">
                            @Html.EditorFor(model => model.PayeeWebsite)<br />
                            @Html.ValidationMessageFor(model => model.PayeeWebsite)
                        </div>
                    </td>
                </tr>
            </table>
            <div>
              
                <input type="submit" value="Save" />
            </div>
        }
    </fieldset>
</div>