@model BingHousing.WebUI.MVC.Models.CheckOutLoginModel
@{
    ViewBag.Title = "Cart Login - Swift Bill Pay";
    Layout = "~/Views/Shared/_LayoutWizard.cshtml";
    string returnUrl = ViewBag.ReturnUrl ?? "/Cart/CheckOut";
}
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4><i class="fa fa-sign-in"></i> Customer Log in</h4>
            </div>
            <div class="panel-body">
                @Html.Partial("_ErrorPanel")
                @using (Html.BeginForm(new { ReturnUrl = returnUrl }))
                {
                    @Html.AntiForgeryToken()

                    <div class="form-group">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Customer Email", type = "email", autocomplete = "off" })
                    </div>
                    <div class="form-group">
                        @Html.TextBoxFor(m => m.Password, new { @class = "form-control", placeholder = "Password", type = "password" })
                    </div>
                    <div class="form-group">
                        @Html.ActionLink("Forgot Password", "ForgetPassword", "Cart", new { @class = "btn-link" }), to reset your password.
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-primary btn-group btn-group-justified" value="Log in" autofocus>
                    </div>
                }
              
                <a href="@Url.Action("CheckOutRegister","Cart")"><input type="button" class="btn btn-primary btn-group btn-group-justified" value="Sign Up" /></a>
            </div>
        </div>
    </div>
    <div class="col-md-4"></div>
</div>
