@model BingHousing.WebUI.MVC.Models.LoginModel
@{
    ViewBag.Title = "Cart Login - Swift Bill Pay";
    Layout = "~/Views/Shared/_LayoutWizard.cshtml";
    bool flag = ViewBag.flag != null ? ViewBag.flag : false;
}

<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4><i class="fa fa-sign-in"></i> Customer Log in</h4>
            </div>
            <div class="panel-body">
                @Html.Partial("_ErrorPanel")
                @using (Html.BeginForm("ForgetPassword", "Cart", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()

                    <div class="form-group">
                        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", placeholder = "Customer Email", type = "email", autocomplete = "off" })
                    </div>
                   
                    <div class="form-group">
                        <input type="submit" class="btn btn-primary btn-group btn-group-justified" value="Submit" >
                    </div>
                }
                <p style="color:Red;">@ViewBag.msg</p>
                @if(flag)
                {
                    <a href="@Url.Action("CheckOutLogin", "Cart")"><input type="button" class="btn btn-primary btn-group btn-group-justified" value="Customer Login" /></a>
                }
            </div>
        </div>
    </div>
    <div class="col-md-4"></div>
</div>

    @*<div style="height:450px">
        @using (Html.BeginForm("ForgetPassword", "Cart", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)

                    <fieldset>
                        <legend>Account Information</legend>
                        <table class = "EditTable1">
                        <tr>
                        <td class = "EditTable1">
                        <div class="editor-label">
                            @Html.Label("Customer Email")
                        </div></td><td>:</td>
                        <td class = "EditTable1">
                        <div class="editor-field">
                            @Html.TextBoxFor(m => m.UserName)<br />
                            @Html.ValidationMessageFor(m => m.UserName)
                        </div></td></tr>
                        <tr>
                        <td></td>
                        <td></td>
                        <td class = "EditTable1" style="float:left;"><p>
                         <input type="submit" value="Submit" /></p></td></tr>
                        </table>
                        </fieldset>
            }
            <p style = "color:Red;">@ViewBag.msg</p>

            @if(flag)
            {
                <p>
                    @Html.ActionLink("Customer Login", "CheckOutLogin", "Cart") to login.
                </p>
            }

            </div>*@
